<!DOCTYPE html>
<html lang="en">
<head>
<style>
table {
	table-layout: fixed;
	word-wrap: break-word;
}
@media (max-width: 768px) {
	table, th {
	font-size: .7em
	}
}
</style>
  <title>Kvitok</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>


<div ng-app="myApp" ng-controller="clchCtrl">

<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="d-flex justify-content-center"><b>АКТ-КВИТАНЦИЯ</b></h2>
      <p class="d-flex justify-content-center">на выполнение дополнительных видов работ (услуг)</p>
      <p class="d-flex justify-content-center"><b>Тарифы на дополнительные виды работ по абонентским пунктам Приложение 46. Вводятся с 21 декабря 2020 года</b></p>
    </div>
  </div> 
  <div class="row">
    <table class="table table-sm table-bordered border-dark table-striped table-hover ">
        <tbody>
          <tr>
            <th style="width:40%" scope="col" class="align-middle text-center">Наименование работ (услуг)</th>
            <th style="width:12%" scope="col" class="align-middle text-center">Тариф без НДС</th>
            <th style="width:11%" scope="col" class="align-middle text-center">НДС 25%</th>
            <th style="width:12%" scope="col" class="align-middle text-center">Тариф с НДС</th>
            <th style="width:13%" scope="col" class="align-middle text-center">кол-во</th>
            <th style="width:12%" scope="col" class="align-middle text-center">сумма,р</th>
          </tr>  
          <tr>
            <td>
				<div class="row">
					<div class="col-12">
						<div class="card">
							<select ng-model="selectedType.one" ng-options="x.type for x in types" ng-init="selectedType.one.price = 0" ng-change="calc()"></select>
						</div>
					</div>
				</div>
            </td>
            <td>{{+selectedType.one.price | number:2}}</td>
            <td>{{+selectedType.one.price / 4  | number:2}}</td>
            <td>{{+selectedType.one.price * 1.25  | number:2}}</td>
            <td><input type="number" class="w-100" ng-model="quantityType.one" ng-init="quantityType.one = 0" ng-change="calc()"></td>
            <td>{{+total_1 | number:2}}</td>
          </tr>
          <tr>
             <td>
				<div class="row">
					<div class="col-12">
						<div class="card">
							<select ng-model="selectedType.two" ng-options="x.type for x in types" ng-init="selectedType.two.price = 0" ng-change="calc()"></select>
						</div>
					</div>
				</div>
			</td>
            <td>{{+selectedType.two.price | number:2}}</td>
            <td>{{+selectedType.two.price / 4  | number:2}}</td>
            <td>{{+selectedType.two.price * 1.25  | number:2}}</td>
            <td><input type="number" class="w-100" ng-model="quantityType.two" ng-init="quantityType.two = 0" ng-change="calc()"></td>
            <td>{{+total_2 | number:2}}</td>
          </tr>
          <tr>
            <td>
				<div class="row">
					<div class="col-12">
						<div class="card">
							<select ng-model="selectedType.three" ng-options="x.type for x in types" ng-init="selectedType.three.price = 0" ng-change="calc()"></select>
						</div>
					</div>
				</div>
            </td>
            <td>{{+selectedType.three.price | number:2}}</td>
            <td>{{+selectedType.three.price / 4  | number:2}}</td>
            <td>{{+selectedType.three.price * 1.25  | number:2}}</td>
            <td><input type="number" class="w-100" ng-model="quantityType.three" ng-init="quantityType.three = 0" ng-change="calc()"></td>
            <td>{{+total_3 | number:2}}</td>
          </tr>
          <tr>
            <th scope="row" colspan="5" class="col-11 align-middle text-right">Итого</th>
            <td class="col-1">{{+calculatedValue | number:2}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>



<script>
var app = angular.module('myApp', []);
app.controller('clchCtrl', function($scope, $http) {
    $http.get("https://api.npoint.io/713af12baabcb21e39fa").then(function (response) {
      $scope.types = response.data.types;
    });

    
$scope.calc = function(){
$scope.total_1 = parseFloat($scope.selectedType.one.price) * 1.25 *  parseFloat($scope.quantityType.one);
$scope.total_2 = parseFloat($scope.selectedType.two.price) * 1.25 *  parseFloat($scope.quantityType.two);
$scope.total_3 = parseFloat($scope.selectedType.three.price) * 1.25 *  parseFloat($scope.quantityType.three);
$scope.calculatedValue = parseFloat($scope.total_1) + parseFloat($scope.total_2) + parseFloat($scope.total_3);
}

});

</script>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
